<div class="d-flex align-items-stretch min-height-100 h-100">
    <div class="bg-cover bg-3 hidden-sm-down col-md-6 col-lg-8"></div>
    <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
        <form #frmForgot="ngForm" (ngSubmit)="frmForgot.valid && btnForgot()">
            <div class="mb-3">
                <img src="dist/assets/images/logo.png" class="avatar-xs mb-1" alt="">
                <p class="ff-headers text-uppercase">Recover your password</p>
            </div>
            <fieldset class="form-group" [ngClass]="{'has-danger': UserName.hasError('required') &&  frmForgot.submitted}">
                <label for="username" class="form-control-label">
            Enter your username
          </label>
                <input type="text" name="UserName" [(ngModel)]="mlforgot.UserName" #UserName="ngModel" required class="form-control" placeholder="username" [ngClass]="{'form-control-danger': UserName.hasError('required') && frmForgot.submitted}" />
                <div class="form-control-feedback" *ngIf="UserName.hasError('required') && frmForgot.submitted">Username is required.</div>
            </fieldset>
            <button class="btn btn-primary" type="submit">Next</button>
        </form>
    </div>
</div>