@using System;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewData["Title"] = "Home Page";
}


<app-root></app-root>

  <div class="page-loading">
       <img src="dist/assets/images/oval.svg" class="loading-icon" />
  </div>

<environment names="Development">
  @foreach (var name in (List<String>)ViewBag.Scripts)
  {
        <!-- IT PREVENT BUNDLED FILE LOAD FROM BROWSER CACHE ON DEVELOPMENT TIME -->
        <script type="text/javascript" src="@Url.Content($"dist/app-assets/scripts/bundle/{name}?v={DateTime.Now.ToString("yyyyMMddhhmmss")}")"></script>
  }
</environment>
<environment names="Staging,Production">
  @foreach (var name in (List<String>)ViewBag.Scripts)
  {
      <!-- ON PRODUCTION TIME IT ADD HASH TAG ON FILE NAME BY WEBPACK PUBLISH -->
      <script type="text/javascript" src="dist/app-assets/scripts/bundle/@name"></script>
  }
</environment>
